@mixin font-td {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
@mixin font-main-page-h1 {
  font-size: 46px;
  line-height: 56px;

  @media all and (max-width: 599px) {
    font-size: 30px;
    line-height: 36px;
  }
}
@mixin font-h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;

  @media all and (max-width: 599px) {
    font-size: 24px;
    line-height: 28px;
  }
}
@mixin font-h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
@mixin font-big-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
@mixin font-text {
  font-size: 18px;
  font-family: 'PT Root UI';
  font-weight: 400;
  line-height: 26px;

  @media all and (max-width: 599px) {
    font-size: 15px;
    line-height: 18px;
  }
}
@mixin font-small-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;

  @media all and (max-width: 599px) {
    font-size: 13px;
    line-height: 18px;
  }
}
@mixin font-h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

@mixin link {
  display: inline;
  height: fit-content;
  color: $color-primary-meteor;
  background-image: linear-gradient(
    to right,
    $color-primary-meteor-04 100%,
    transparent 100%
  );
  background-repeat: repeat-x;

  &:hover {
    color: $color-electric;
    background-image: linear-gradient(
      to right,
      $color-electric-04 100%,
      transparent 100%
    );
  }
}

@mixin link--18 {
  @include link;
  font-size: 18px;
  line-height: 26px;
  background-position: 0 22px;

  @media all and (max-width: 599px) {
    font-size: 15px;
    line-height: 18px;
    background-position: 0 18px;
  }
}

@mixin link--20 {
  @include link;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  background-position: 0 24px;
}

@mixin link--24 {
  @include link;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  background-position: 0 29px;

  @media all and (max-width: 599px) {
    font-size: 20px;
    line-height: 26px;
    background-position: 0 25px;
  }
}

@mixin link-arrow {
  position: relative;

  &::after {
    content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1L9 6L4 11' stroke='%23171795' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
    position: absolute;
    transform: translateX(50%);
  }
  @media all and (min-width: 599px) {
    &:hover {
      &::after {
        content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1L9 6L4 11' stroke='%23071FEF' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

// @mixin font-mob-h1 {
//   font-size: 24px;
//   font-family: 'PT Root UI';
//   font-weight: bold;
//   line-height: 28px;
// }
// @mixin font-mob-h2 {
//   font-size: 20px;
//   font-family: 'PT Root UI';
//   font-weight: bold;
//   line-height: 26px;
// }
// @mixin font-mob-h3 {
//   font-size: 15px;
//   font-family: 'PT Root UI';
//   font-weight: bold;
//   line-height: 18px;
// }
// @mixin font-mob-big-text {
//   font-size: 18px;
//   font-family: 'PT Root UI';
//   font-weight: normal;
//   line-height: 24px;
// }
// @mixin font-mob-text {
//   font-size: 15px;
//   font-family: 'PT Root UI';
//   font-weight: normal;
//   line-height: 18px;
// }
// @mixin font-mob-small-text {
//   font-size: 13px;
//   font-family: 'PT Root UI';
//   font-weight: normal;
//   line-height: 18px;
// }
