$color-primary-meteor:        rgba(23, 23, 149, 1);
$color-primary-meteor-04:     rgba(23, 23, 149, .4);
$color-primary-meteor-07:     rgba(23, 23, 149, .7);
$color-onprimary-default:     rgba(255, 255, 255, 1);
$color-onprimary-default-07:  rgba(255, 255, 255, .7);
$color-onprimary-secondary:   rgba(196, 196, 196, 1);
$color-surface-default:       rgba(242, 242, 242, 1);
$color-onsurface-primary:     rgba(34, 39, 48, 1);
$color-onsurface-secondary:   rgba(137, 137, 137, 1);
$color-onsurface-accent:      rgba(22, 24, 145, 1);
$color-onsurface-lines:       rgba(225, 225, 225, 1);
$color-onsurface-lines-light: rgba(225, 225, 225, .2);
$color-background-default:    rgba(255, 255, 255, 1);
$color-background-secondary:  rgba(255, 255, 255, .5);
$color-surface-accent:        rgba(241, 247, 255, 1);
$color-yell:                  rgba(255, 190, 21, 1);
$color-red:                   rgba(250, 77, 53, 1);
$color-golden:                rgba(164, 124, 23, 1);
$color-electric:              rgba(7, 31, 239, 1);
$color-electric-06:           rgba(7, 31, 239, .6);
$color-electric-04:           rgba(7, 31, 239, .4);
$color-black:                 rgba(0, 0, 0, 1);
$color-footer-bg:             rgba(34, 39, 48, 1);

$transition: ease-in-out 0.15s;