.header {
  position: fixed;
  width: 100%;
  background-color: $color-onprimary-default;
  border-bottom: 1px solid $color-onsurface-lines;
  padding: 5px 0;
  z-index: 100;

  .container {
    max-width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 48px;
  }

  &__menu {
    display: flex;
  }

  &__menu-item {
    margin-right: 32px;
  }

  &__second-nav {
    display: flex;
    height: 32px;
    align-items: center;
  }

  &__second-menu {
    display: flex;
  }

  &__second-menu-item {
    margin-left: 32px;
  }

  &__second-menu-item--tel {
    margin-left: 0;
  }

  &__second-menu-item--bag,
  &__second-menu-item--search {
    display: flex;
  }

  &__second-menu-item--bag {
    position: relative;
  }

  &__info {
    position: absolute;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    padding: 0 7px;
    background: $color-primary-meteor;
    color: $color-onprimary-default;
    border-radius: 9px;
    top: -15px;
    left: calc(100% - 10px);
  }

  &__menu-btn {
    display: none;
  }
}

.header-link {
  a {
    font-size: 18px;
    line-height: 140%;
    color: $color-onsurface-primary;
  }

  &__text {
    margin-left: 8px;
  }

  &:hover {
    opacity: 0.7;
  }
}

@media all and (max-width: 1154px) {
  .header-link__text--bag,
  .header-link__text--search {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  .header {
    padding: 20px 0;

    &__menu {
      display: none;
    }

    &__logo {
      margin-right: 0;
    }

    &__menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 32px;
    }
  }
}

@media all and (max-width: 599px) {
  .header {
    padding: 8px 0;

    &__second-menu-item--tel {
      display: none;
    }

    &__info {
      top: -6px;
      left: calc(100% - 12px);
    }
  }

  .logo-svg {
    width: 108px;
    height: 15px;
  }
}

.header.header-homepage {
  background-color: #040486;
  border-bottom: 1px solid $color-onsurface-lines-light;

  .header__info {
    background: $color-onprimary-default;
    color: $color-primary-meteor;
  }
  .header-link__svg {
    path {
      stroke: $color-onprimary-default;
    }
  }
  .header-link a {
    color: $color-onprimary-default;
  }

  .logo-svg {
    fill: $color-onprimary-default;
  }

  .header__menu-btn {
    svg {
      fill: $color-onprimary-default;
    }
  }
}
