.catalog-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;

  &__item {
    border: 1px solid $color-surface-default;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    transition: $transition;

    &:hover {
      box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.1);

      .catalog-sections__heading {
        color: $color-electric;
        background-image: linear-gradient(
          to right,
          $color-electric-04 100%,
          transparent 100%
        );
        &::after {
          content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1L9 6L4 11' stroke='%23071FEF' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 44px 32px 44px 24px;
  }

  &__figure {
    max-width: 29%;
    min-width: 144px;
    margin-right: 32px;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__heading {
    @include link--24;
    @include link-arrow;
    transition: $transition;
  }

  &__descr {
    @include font-small-text;
    color: $color-onsurface-primary;
    margin-top: 18px;
    margin-bottom: 0;
  }

  &__descr--custom-work {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 1279px) {
  .catalog-sections {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;

    &__figure {
      max-width: 29%;
      min-width: 180px;
      margin-right: 24px;
    }

    &__descr {
      max-width: 642px;
    }
  }
}

// @media all and (max-width: 599px) {
//   .catalog-sections {
  
//   }
// }
