.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $color-onprimary-default;
  padding: 15px 24px;
  transition: ease-in-out 0.15s;
}

.button-primary {
  background-color: $color-primary-meteor;
  border: 1px solid $color-primary-meteor;

  &:hover {
    background-color: $color-electric;
    border: 1px solid $color-electric;
  }
}

.button-secondary {
  background-color: transparent;
  border: 1px solid $color-onprimary-default;

  &:hover {
    background-color: $color-onprimary-default;
    border: 1px solid $color-onprimary-default;
    color: $color-electric;
  }
}
