.home-preview {
  position: relative;
  background-color: #040486;
  // min-height: 500px;

  &__text {
    position: relative;
    padding-top: 140px;
    padding-bottom: 80px;
    max-width: 800px;
    color: $color-onprimary-default;
    z-index: 10;
  }

  &__heading {
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 24px;
  }

  &__description {
    max-width: 676px;
  }

  &__bg-image {
    position: absolute;
    overflow: hidden;
    top: 124px;
    left: 0;
    width: 100%;

    svg {
      opacity: .8;
    }
  }
}
