// класс для элемента, который содержит тултип
.has-tooltip {
  position: relative;
  cursor: pointer;
}
.has-tooltip:hover .tooltip {
  // Отображаем тултип только если навели мышью на элемент, его содержащий
  display: inline-block;
}

// span с этим классом ложим в элемент с классом .has-tooltip
.tooltip {
  display: inline-block;

  position: absolute;
  top: 750px;
  left: 50%;
  text-align: center;
  background: $color-onprimary-default;
  color: $color-onsurface-primary;
  border: 1px solid $color-electric-06;
  border-radius: 9px;
  padding: 2px 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
  cursor: default;
  z-index: 10;
}
.tooltip::after,
.tooltip::before {
  // Это уголок
  content: '';
  position: absolute;
  left: calc(50% - 7px);
  bottom: -14px;
  border: 7px solid transparent;
  border-top: 7px solid $color-electric;
}

.tooltip::after {
  border-top: 7px solid $color-onprimary-default;
  bottom: -13px;
}
