.production-charts {
  overflow-x: hidden;

  &__list {
    display: flex;
    justify-content: start;
  }

  &__item {
    border-right: 1px solid $color-onsurface-lines;
    margin-right: 16px;
    padding-right: 10px;
    flex: 1 1 100%;

    &:last-child {
      border-right: none;
      margin-right: 0;
    }
  }

  &__head {
    margin-bottom: 8px;
  }

  &__figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__image {
    margin-right: 16px;
  }

  &__caption {
    max-width: 196px;
  }

  &__heading {
    display: inline;
    color: $color-primary-meteor;
    @include font-h3;
    @include link;
    @include link-arrow;
  }

  &__chart {
    margin-bottom: 5px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__description {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__units {
    font-size: 30px;
    line-height: 36px;
  }

  &__units-produced {
    font-size: 15px;
    line-height: 21px;
  }

  &__year {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 15px;
    line-height: 21px;

    span {
      color: $color-golden;
    }
  }
}

.chart {
  width: 100%;
}

.apexcharts-tooltip {
  background-color: $color-onprimary-default;
  border: 1px solid $color-electric-06;
  padding: 0 6px;

  .apexcharts-tooltip-series-group.apexcharts-active,
  .apexcharts-tooltip-series-group:last-child {
    padding-bottom: 0;
  }

  .apexcharts-tooltip-title {
    font-weight: 700;
    margin-bottom: 0;
    color: $color-onsurface-primary;
    // background-color: $color-onprimary-default;
  }
}

.apexcharts-xaxis {
  line {
    stroke-dasharray: 2 4;
  }
}

.apexcharts-tooltip-text {
  display: none;
}

@media all and (max-width: 1280px) {
  .production-charts {
    &__caption {
      max-width: 174px;
    }
    &__heading {
      font-size: 18px;
      line-height: 26px;
      background-position: 0 21px;
    }
    &__image {
      width: 73px;
      height: 73px;
    }
  }
}

@media all and (max-width: 1023px) {
  .production-charts {
    &__list {
      justify-content: start;
      flex-wrap: wrap;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        width: 100%;
        background-color: $color-onsurface-lines;
      }
    }

    &__item {
      flex: none;
      max-width: 48.8%;
      &:nth-child(2n) {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
      &:first-child {
        margin-bottom: 32px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .production-charts {
    overflow-x: scroll;

    &__list {
      flex-wrap: nowrap;
      &::after {
        display: none;
      }
    }

    &__item {
      min-width: 236px;
      flex: 1 1 100%;

      &:nth-child(2) {
        border-right: 1px solid $color-onsurface-lines;
        margin-right: 16px;
        padding-right: 10px;
      }

      &:last-child {
        min-width: 266px;
        margin-right: 0;
        padding-right: 40px;
      }
    }
  }
}
