.productions {
  padding-top: 152px;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    flex-wrap: wrap;
  }

  &__heading {
    @include font-h1;
    max-width: 676px;
  }

  &__to-catalog {
    @include link--24;
    @include link-arrow;
    margin-right: 16px;
  }
}

@media all and (max-width: 1023px) {
  .productions {
    &__heading {
      margin-bottom: 24px;
    }
  }
}

@media all and (max-width: 599px) {
  .productions {
    padding-top: 60px;

    &__head {
      margin-bottom: 40px;
    }

    &__heading {
      margin-bottom: 16px;
    }
  }
}
